.cursor-pointer {
  cursor: pointer;
}

.image-list img {
  max-width: 3rem;
  cursor: pointer;
  transition: transform 250ms, opacity 400ms;
}

.image-list img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.tab {
  display: none;
}

.--is-visible {
  display: block;
}

.--is-hidden {
  display: none;
}
