.cursor-pointer {
  cursor: pointer;
}

.image-list img {
  max-width: 3rem;
  cursor: pointer;
  transition: transform 250ms, opacity 400ms;
}

.image-list img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.--is-visible {
  left: 0;
  opacity: 1;
  left: 50%;
  transform: translate(-50%);
}

.--is-hidden {
  display: none;
}

.--next {
  left: 640px;
}

form {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

fieldset {
  position: absolute;
  top: 0;
  max-width: 600px;
  width: 100%;
  left: -640px;
  padding: 10px 0;
  transition: all 0.3s linear;
  opacity: 0;
}

button {
  z-index: 1;
}

/* [data-fieldset="profile"] {
  color: red;
}

[data-fieldset="address"] {
  color: blue;

}
[data-fieldset="shipping"] {
  color: green;
} */
